body {
  background-color: hsl(120, 17%, 89%);
  height: 125vh;
  font: Arial, sans-serif;
  margin-top: 50px;
  padding: 10px;
}

.body {
  padding-bottom: 45px;
}

header{
  background-color: hsl(122, 15%, 49%);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: white;
  text-decoration: none;
}

.navBtn {
  background-color: hsl(122, 15%, 49%);
  color: white;
  height: 40px;
  width: 90px;
  padding: 2px;
  margin: 15px;
  border-radius: 5px;
  text-decoration: none;
}

footer {
  background-color: hsl(122, 15%, 49%);
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.01);
  padding: 10px;
  margin: 10px;
  text-align: center;
  height: 200px;
  width: 200px;
  display: inline-block;
  overflow: hidden;
  background-color: hsl(120, 17%, 79%);
}

.card .card-image {
  width: 25%;
  height: auto;
  border-radius: 20%;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 10px;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 28px;
  font-family: Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 8px;
  color: hsl(0, 0%, 20%);
}

.card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
  font-size: 15px;
  line-height: 1.3;
}